.container {
  border: 1px solid #000;

  display: flex;
  flex-direction: row;

  max-width: 600px;
  min-height: 200px;

  margin: auto;
}

.content {
  text-align: center;
  justify-content: center;
  align-items: center;

  text-rendering: optimizeSpeed;
  font-family: monospace;

  margin: auto;

  width: 72%;

  padding: 10px;
}

.button {
  border: 1px solid #000;

  display: block;

  cursor: pointer;

  background-color: transparent;

  height: 100px;
  margin: auto;

  width: 14%;
}

.button:hover {
  border: 1px solid #000;

  transition: 200ms;
}
