.cards_container {
  border: 1px solid #000;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  border: 1px solid #000;

  width: 100%;
  max-width: 800px;
  height: 300px;
  max-height: 300px;

  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.anchor {
  border: 1px solid #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-size: 30px;
  background-repeat: repeat;
  background-position-y: 100%;

  width: 100%;
  height: 100%;
}

.title {
  border: 1px solid #000;

  user-select: none;
  pointer-events: none;

  font-weight: bold;
}

.background {
  border: 1px solid #000;

  width: 100%;
  height: 100%;
}

.description {
  border: 1px solid #000;
}
