.card {
  border: 1px solid #000;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 300px;
  min-width: 300px;
  max-width: 300px;

  text-align: center;

  will-change: opacity;
  opacity: 75%;
  transition: 200ms;
}

.card:hover {
  opacity: 100%;
  transition: 200ms;
}

.link {
  width: 100%;
}

.image_container {
  position: relative;
  width: 100%;
  height: 300px;
}

.image {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.title {
  padding: 10px;
  color: #FFF;
}
