.page {
  text-align: center;
}

.cards_container {
  border: 1px solid #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  padding: 20px 0;
}

.card {
  border: 1px solid #000;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 360px;

  text-align: center;
}

.link {
  width: 100%;
}

.image_container {
  position: relative;
  width: 100%;
  height: 360px;
  border-bottom: 1px solid #000;
}

.image {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.tags_overlay {
  position: absolute;
  bottom: 0px;
}

.title {
  padding: 10px;
}
