.tags_container {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  gap: 6px;

  margin: 10px;
}

.tag {
  padding: 2px 4px;

  border-radius: 4px;

  font-family: monospace;
  font-weight: bold;
  font-size: 14px;

  will-change: opacity;
  opacity: 50%;
}

.tag:hover {
  transition: 220ms;
  opacity: 100%;
}
