.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 60px;

  padding: 10px 0;
}

.tags_container {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tag {
  border-radius: 4px;
  padding: 2px 4px;

  height: 26px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: monospace;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}
